flows (2).json
[{"id":"1b67a2c3.d67ffd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a9af9a86.69fd28","type":"ui_group","z":"","name":"Default","tab":"7e59bf26.83513","order":1,"disp":true,"width":"6","collapse":false},{"id":"7e59bf26.83513","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1f7b0016.912cb","type":"ui_group","z":"","name":"Default","tab":"5c21bc7d.ff3264","order":1,"disp":true,"width":"6","collapse":false},{"id":"5c21bc7d.ff3264","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1cd46b97.277734","type":"ui_form","z":"1b67a2c3.d67ffd","name":"","label":"","group":"1f7b0016.912cb","order":0,"width":0,"height":0,"options":[{"label":"preg","value":"pg","type":"number","required":true,"rows":null},{"label":"plas","value":"pl","type":"number","required":true,"rows":null},{"label":"pres","value":"pr","type":"number","required":true,"rows":null},{"label":"skin","value":"sk","type":"number","required":true,"rows":null},{"label":"test","value":"te","type":"number","required":true,"rows":null},{"label":"mass","value":"ma","type":"number","required":true,"rows":null},{"label":"pedi","value":"pe","type":"number","required":true,"rows":null},{"label":"age","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"pg":"","pl":"","pr":"","sk":"","te":"","ma":"","pe":"","ag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":360,"wires":[["df562738.3a1fa8"]]},{"id":"df562738.3a1fa8","type":"function","z":"1b67a2c3.d67ffd","name":"PreToken","func":"global.set(\"pg\",msg.payload.pg)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"pr\",msg.payload.pr)\nglobal.set(\"sk\",msg.payload.sk)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"37yf287f7DyMpXgQDH5hebMWAzbdvGJlO9oNrEN2XV7G\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":320,"wires":[["c61d7c8b.0f2f"]]},{"id":"c61d7c8b.0f2f","type":"http request","z":"1b67a2c3.d67ffd","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.bluemix.net/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":380,"wires":[["c6555aa6.b90688"]]},{"id":"6286aadd.db74e4","type":"debug","z":"1b67a2c3.d67ffd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":978.0000114440918,"y":90.99999713897705,"wires":[]},{"id":"c6555aa6.b90688","type":"function","z":"1b67a2c3.d67ffd","name":"Pre Prediction","func":"var pg = global.get('pg')\nvar pl = global.get('pl')\nvar pr = global.get('pr')\nvar sk = global.get('sk')\nvar te = global.get('te')\nvar ma = global.get('ma')\nvar pe = global.get('pe')\nvar ag = global.get('ag')\nvar token=msg.payload.access_token\nvar instance_id=\"5b30a724-6392-4081-abb2-24b3d67709ef\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"preg\", \" plas\", \"pres\", \"Skin \", \"test\", \"mass\", \"pedi\", \"age\"], \"values\": [[pg,pl,pr,sk,te,ma,pe,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":300,"wires":[["4bd7cab7.5adab4"]]},{"id":"4bd7cab7.5adab4","type":"http request","z":"1b67a2c3.d67ffd","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/0956d31d-138d-4087-aacb-352af18915a4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":260,"wires":[["6286aadd.db74e4"]]},{"id":"e8901faa.59303","type":"ui_text","z":"1b67a2c3.d67ffd","group":"1f7b0016.912cb","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":857.6000366210938,"y":408.20000743865967,"wires":[]},{"id":"e50fe2f8.0c23f","type":"function","z":"1b67a2c3.d67ffd","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":689.6000366210938,"y":151.60000133514404,"wires":[["e8901faa.59303"]]}]